@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeOutWave {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeInWave {
  0% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  82% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

$pulseUnit: 1;
$pulseUnitLG: 1.3;
$pulseDuration: 4000ms;
@keyframes PulseWave {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
  93% {
    transform: scale(1.3);
  }
}
[data-animate="PulseWave"] {
  animation-name: PulseWave;
  animation-duration: $pulseDuration;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

// running animations
[data-animate="FadeOutWave"] {
  animation-name: FadeOutWave;
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
[data-animate="FadeInWave"] {
  animation-name: FadeInWave;
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

// instances animations
[data-animate="FadeIn"] {
  animation-name: FadeIn;
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}

[data-animate="FadeOut"] {
  animation-name: FadeOut;
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}

.SplashGrid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(6, 1fr);
  place-content: center;
  row-gap: 1.2rem;
}

.SplashGridCell {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg,
  rect {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4rem;
    width: 2.4rem;
  }
}
