@use "../base/colors" as colors;
@use "../base/vars" as vars;

input {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.ContainedInputGroup {
  display: grid;
  place-content: start;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  gap: 0.125rem;

  transition-property: background-color;
  transition-duration: vars.$duration-standard-ease;
  transition-timing-function: vars.$animate-standard-ease;
}

.ContainedInputItem {
  display: flex;
  position: relative;
  padding: vars.$spacing-01;
  gap: vars.$spacing-04;

  transition-property: border outline;
  transition-duration: vars.$duration-standard-ease;
  transition-timing-function: vars.$animate-standard-ease;

  input {
    display: block;
    position: absolute;
    appearance: none;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    border: solid 2px transparent;
    outline: solid 2px transparent;

    &:focus {
      outline-color: colors.$focus;
    }
  }

  #icon {
    width: 2.5rem;
    height: 2.5rem;
    align-self: start;
    justify-self: start;
  }

  .textbox {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
