a {
  display: inline-flex;
  // color: inherit;
  line-height: 1.4;
  font-weight: 500;
  font-family: inherit;
  text-decoration: none;
  transition: border-color 0.25s;
  outline: 2px solid transparent;
  border: 2px solid transparent;
}
a:focus {
  border-color: var(--color-focus);
}
