@use "../base/vars" as vars;
@use "../base/colors" as colors;

.ModalContainer {
  display: block;
}

.ModalFilter {
  display: block;
  backdrop-filter: blur(5px);
  transition-duration: vars.$duration-expressive-easing;
  transition-timing-function: vars.$animate-expressive-easing;
  transition-property: backdrop-filter background-color;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.ModalContent {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.ModalContent {
  padding: 0;
  width: 2.25rem;
  height: 2.25rem;
  border: solid 2px transparent;
  outline: solid 2px transparent;
}

.ModalContent.mode--light {
  #icon {
    fill: rgba(colors.$light, 0.87);
    #inner_path {
      fill: transparent;
    }
  }

  .ModalButton {
    background-color: darken(colors.$light, 05%);
    &:focus {
      outline-color: colors.$focus;
    }
  }
}
