$light: rgb(246, 247, 247);
$dark: rgb(24, 25, 25);
$accent: rgb(228, 0, 43);
$disabled: rgb(128, 128, 128);
$warning: rgb(255, 245, 100);
$success: rgb(103, 255, 100);
$error: rgb(255, 0, 30);
$info: rgb(0, 108, 255);
$focus: rgb(100, 108, 255);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$blur: 5px;
$blurBackdrop: blur($blur);
$blurBackdropColor: rgba(grey, 0.025);

#icon {
  color: rgba($white, 0.87);
  fill: rgba($white, 0.87);
  #inner_path {
    color: rgba($white, 0.87);
    fill: rgba($white, 0.87);
  }
}
