$light: rgb(246, 247, 247);
$dark: rgb(25, 26, 26);
$accent: rgb(228, 0, 43);
$disabled: rgb(128, 128, 128);
$warning: rgb(255, 245, 100);
$success: rgb(103, 255, 100);
$error: rgb(255, 0, 30);
$info: rgb(0, 108, 255);
$focus: rgb(100, 108, 255);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$random: #777777;

$blur: 5px;
$blurBackdrop: blur($blur);
$blurBackdropColor: rgba(grey, 0.025);

$color-baseGrey050: #1a1a1a;
$color-baseGrey100: #333333;
$color-baseGrey200: #4c4c4c;
$color-baseGrey300: #666666;
$color-baseGrey400: #808080;
$color-baseGrey500: #999999;
$color-baseGrey600: #b3b3b3;
$color-baseGrey700: #cccccc;
$color-baseGrey800: #d9d9d9;
$color-baseGrey900: #e5e5e5;
$color-baseGrey1000: #f2f2f2;

.MetMuseumApp {
  background-color: $color-baseGrey050;
  color: rgba($color-baseGrey1000, 0.87);
  .TabSelect {
    color: rgba($color-baseGrey1000, 0.87);
  }
}
