@use "../base/vars" as vars;

body,
#root {
  display: block;
  position: relative;
  min-height: 100vh;
  isolation: isolate;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.MetMuseumApp {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(1, 1fr);
  place-content: start;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  .PageHero {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    padding-inline: vars.$spacing-02 + 0.125rem;
    place-content: start;

    h1 {
      line-height: 1.1;
      padding-top: 10rem;
    }
  }

  .PageContent {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    padding-inline: vars.$spacing-02 + 0.125rem;
    place-content: start;
    min-height: 200vh;
  }
}
