@use "../base/vars" as vars;

body,
#root {
  display: block;
  position: relative;
  min-height: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
}

.SwatchGroup {
  display: block;
  outline: solid 2px orange;

  .SwatchCard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-inline: 1rem;
    padding-block: 2rem;

    .SwatchActions {
      display: grid;
      grid: auto-flow / repeat(2, 1fr);
      justify-content: start;
      align-content: start;
      gap: 0.6rem;

      .Btn-primary {
      }
      .Btn-primary {
      }
    }
  }
}

// .basePrimary {
// }
// .onBasePrimary {
// }
// .baseSecondary {
// }
// .onBaseSecondary {
// }

.MetMuseumApp {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(1, 1fr);
  place-content: start;
  isolation: isolate;
  position: relative;
  overflow: hidden;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  .PageHero {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    padding-inline: vars.$spacing-02 + 0.125rem;
    place-content: start;

    h1 {
      line-height: 1.1;
      padding-top: 10rem;
    }
  }

  .PageContent {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    padding-inline: vars.$spacing-02 + 0.125rem;
    place-content: start;
    min-height: 200vh;
  }
}
